# Firebase configuration and logs
firebase/firebase-config.js
firebase-debug.log

# Node.js dependencies
node_modules/

# OS-specific files
.DS_Store
Thumbs.db

# Editor/IDE configuration files
.vscode/
.idea/
*.sublime-workspace

# Logs
*.log

# Environment files
.env
.env.local
.env.*.local

# Generated or temporary files
dist/
build/
*.tmp
*.bak
*.swp
*.old
*.orig
*.map

# Test coverage reports
coverage/
*.lcov
